.page-about {
    background: #333;
}

.about__block {
    height: 333px;
    background-size: cover;
    background-position: center;
    position: relative;

    #practice-areas & {
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: 0.4;
        }

    }

    #team & {
        .about__block-text {
            display: none;
        }

        &:hover {
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #000;
                opacity: 0.4;
            }

            .about__block-text {
                display: block;
            }

        }
    }
}

.about__block-text {
    position: absolute;
    margin: $leading;

    h3.h3 {
        margin: 0;
    }
}

.about__column-list {
    list-style: none;
    padding: 0;

    li {
        margin-top: 1rem;
    }
}
