.page-nav {
	@include media($screen-md) {
		display: none;
	}

	li {
		@include media($screen-md) {
			opacity: 0;
		}
	}

	a {
		color: $color_text_main;

		&:hover {
			color: tint($color_text_main, 70%);
		}

		.use-ui-light-theme & {
			color: white;

			&:hover {
				color: tint($color_text_main, 70%);
			}
		}
	}
}

.colophon {
	@include clearfix;

	.details {
		@include media($screen-lg) {
			float: left;
			width: 60%;
		}
	}

	.awards {
		@include media($screen-lg) {
			float: left;
			width: 40%;
		}
	}
}

.cta-link {
	.localdata & {
		color: $localdata_red;

		&:hover {
			color: darken($localdata_red, 20%);
		}
	}

	.city-of-oakland & {
		color: $oakland_blue;

		&:hover {
			color: darken($oakland_blue, 20%);
		}
	}

	.gibney & {
		color: $gibney_black;

		&:hover {
			color: darken($gibney_black, 20%);
		}
	}

	.atil & {
		color: $atil_yellow;

		&:hover {
			color: darken($atil_yellow, 20%);
		}
	}

	.department-of-education & {
		color: $doe_orange;

		&:hover {
			color: darken($doe_orange, 20%);
		}
	}

	.boston-public-schools & {
		color: $boston_green;

		&:hover {
			color: $boston_dark_green;
		}
	}

	.claremont-graduate-university & {
		color: $claremont_red;

		&:hover {
			color: darken($claremont_red, 20%);
		}
	}

	.boston-public-schools & {
		color: $hester_black;

		&:hover {
			color: $hester_black;
		}
	}

	.icon {
		font-size: 1.25em;
		transition: all 250ms ease;
	}

	&:hover {
		[class*="rotate-"] {
			@include transform(rotate(0) translateX(20px));
		}
	}
}

.cs-body-link {
	.city-of-oakland & {
		color: $oakland_blue;

		&:hover {
			color: darken($oakland_blue, 15%);
		}
	}

	.city-of-oakland & {
		color: $gibney_black;

		&:hover {
			color: darken($gibney_black, 15%);
		}
	}

	.atil & {
		color: $atil_yellow;

		&:hover {
			color: darken($atil_yellow, 15%);
		}
	}

	.department-of-education & {
		color: $doe_orange;

		&:hover {
			color: darken($doe_orange, 15%);
		}
	}

	.boston-public-schools & {
		color: $boston_green;

		&:hover {
			color: darken($boston_green, 15%);
		}
	}

	.hester-street & {
		color: $hester_black;

		&:hover {
			color: darken($hester_black, 15%);
		}
	}

	.localdata & {
		color: $localdata_red;

		&:hover {
			color: darken($localdata_red, 15%);
		}
	}

	.claremont-graduate-university & {
		color: $claremont_red;

		&:hover {
			color: darken($claremont_red, 15%);
		}
	}
}

.oakland-pattern {
	padding: 0;
	height: 32%;
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url("images/oakland/pattern-min.png");
	@include hidpi {
		background-image: url("images/oakland/pattern-@2x-min.png");
	}
}

.ld-logo {
	background: white;
	padding: ($leading * 2) $size_container_padding_sm;
	@include media($screen-sm) {
		padding-top: ($leading * 5);
		padding-bottom: ($leading * 5);
	}
}

.ld-logo-container {
	max-width: 694px;
	margin: 0 auto;

	img {
		display: block;
	}
}

img.compass {
	width: 27.37%;
	float: left;

	.os-csstransitions & {
		@include transition(all 2.25s cubic-bezier(.22,1.5,.76,.82));
		@include transform(rotate(180deg));
	}

	.active & {
		.os-csstransitions & {
			@include transform(rotate(360deg));
		}
	}
}

img.logotype {
	float: right;
	width: 64.84%;
	margin-top: 8%;
}

//Hester Street Wordmark Animation
svg.hs-wordmark {
	background-color: #000;
	fill: #fff;
	padding: 132px 168px;
	width: 100%;
	animation: cycle-bg-color 25s ease-in-out 3s infinite;
}

@keyframes cycle-bg-color {
	0% {
		background-color: #000;
		fill: #fff;
	}

	25% {
		background-color: #aebd31;
		fill: #fff;
	}

	50% {
		background-color: #3366cc;
		fill: #fff;
	}

	75% {
		background-color: #ff685d;
		fill: #fff;
	}
}
