.colophon {
	@include clearfix;
	.details {
		@include media($screen-lg) {
			float: left;
			width: 60%;
		}
	}
	.awards {
		@include media($screen-lg) {
			float: left;
			width: 40%;
		}
	}
}

.cta-link {
	.localdata & {
		color: $localdata_red;
		&:hover {
			color: darken($localdata_red, 20%);
		}
	}
	.city-of-oakland & {
		color: $oakland_blue;
		&:hover {
			color: darken($oakland_blue, 20%);
		}
	}
	.boston-public-schools & {
		color: $boston_green;
		&:hover {
			color: $boston_dark_green;
		}
	}

	.icon {
		font-size: 1.25em;
		transition: all 250ms ease;
	}
	&:hover {
		[class*="rotate-"] {
			@include transform( rotate(0) translateX(20px) );
		}
	}
}

.oakland-pattern {
	padding: 0;
	height: 32%;
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


