.office-locations {
	position: relative;
	background-color: white;
}

.office-location {
	position: relative;
	width: 100%;
	@include media($screen-md) {
		.os-webgl & {
			height: 100vh;
		}
	}
	&.nyc {
		background-color: #F7D7D6;
	}
	&.oakland {
		background-color: #CEE3EE;
	}
}

.office-map {
	position: relative;
	z-index: 1;
	background: #DDD;
	height: 350px;
	width: 100%;
	margin-top: $leading * 2;
	transition: opacity 750ms ease;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	@include media($screen-md) {
		height: 600px;
		width: 50%;
		float: right;
		margin-top: 0;
		.os-webgl & {
			position: absolute;
			top: 0;
			right: 0;
			height: 100vh;
			z-index: 0;
		}
	}

	&.nyc-map {
		z-index: 1;
		.os-no-webgl & {
			background-image: url(images/map-nyc.png);
		}
		.fixed & {
			position: absolute;
		}
	}
	&.oakland-map {
		z-index: 0;
		.os-no-webgl & {
			background-image: url(images/map-oakland.png);
		}
		.fixed & {
			position: fixed;
		}
		.un-fixed & {
			position: absolute;
		}
	}
	
}

.office-address {
	padding: ($leading * 2) $size_container_padding 0;
	transition: all 400ms ease;
	@include media($screen-sm) {
		padding-left: $size_container_padding_sm;
		padding-right: $size_container_padding_sm;
	}
	@include media($screen-md) {
		float: left;
		width: 50%;
		.os-csstransforms & {
			position: absolute;
			top: 50%;
			left: 50%;
			padding-top: 0;
			@include transform(translateY(-50%) translateX(-75%));
		}
	}
}






