.outer-container {
	@include outer-container;
	padding: 0 $size_container_padding;
	@include media($screen-sm) {
		padding-left: $size_container_padding_sm;
		padding-right: $size_container_padding_sm;
	}
	&.bleed {
		padding-left: 0;
		padding-right: 0;
	}
}
.inner-container {
	@include media($screen-md) {
		@include span-columns(10);
		@include shift(1);
		float: none;
		margin-right: 0;
	}
	@include media($screen-lg) {
		@include span-columns(8);
		@include shift(2);
		float: none;
		margin-right: 0;
	}
}

a.scroll-down {
	display: none;
	position: fixed;
	z-index: 800;
	bottom: 2rem;
	left: 50%;
	margin-left: -1rem;
	width: 28px;
	height: 14px;
	opacity: 0.8;
	@include transform(translateY(0));
	@include media($screen-md){
		display: block;
	}
	&.off-canvas {
		@include transform(translateY(100px));
	}
	&:hover {
		opacity: 1;
	}
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0.25rem;
		width: 18px;
		height: 4px;
		background-color: $color_text_main;
		@include transition(all 300ms ease);
		.ui-light-theme & {
			background-color: white;
		}
	}
	&:before {
		left: 0;
		@include transform(rotate(45deg));
	}
	&:after {
		right: 0;
		@include transform(rotate(-45deg));
	}

}