.outer-container {
	@include outer-container;
	padding: 0 $size_container_padding;
	@include media($screen-sm) {
		padding-left: $size_container_padding_sm;
		padding-right: $size_container_padding_sm;
	}
	&.bleed {
		padding-left: 0;
		padding-right: 0;
	}
}
.inner-container {
	@include media($screen-md) {
		@include span-columns(8);
		@include shift(2);
		float: none;
		margin-right: 0;
	}
}

a.scroll-down {
	display: none;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	margin-left: -1rem;
	width: 2rem;
	height: 1.5rem;
	font-size: 3rem;
	opacity: 0.5;
	color: $color_text_main;
	@include transform(rotate(90deg));
	@include media($screen-md){
		display: block;
	}
	&:hover {
		opacity: 1;
	}

}