.office-locations {
	position: relative;
	background-color: white;
}

.office-location {
	position: relative;
	width: 100%;
	@include media($screen-md) {
		.os-webgl & {
			border-top: 0;
			height: 100vh;
		}
	}
	&.brooklyn {
		background-color: #F7D7D6;
	}
	&.oakland {
		background-color: #CEE3EE;
	}
}

.office-map {
	position: relative;
	z-index: 1;
	background: #DDD;
	height: 350px;
	width: 100%;
	margin-top: $leading * 2;
	transition: opacity 750ms ease;
	background-repeat: no-repeat;
	background-size: 1280px 1080px;
	background-position: center center;
	@include media($screen-md) {
		background-size: cover;
		height: 600px;
		width: 50%;
		float: right;
		margin-top: 0;
		.os-webgl & {
			position: absolute;
			top: 0;
			right: 0;
			height: 100vh;
			opacity: 0;
		}
	}
	&:after {
		content: "";
		position: absolute;
		width: 40px;
		height: 52px;
		top: 50%;
		left: 50%;
		margin-top: -52px;
		margin-left: -20px;
		background-size: 40px 52px;
	}

	&.brooklyn-map {
		[data-show-map="brooklyn"] & {
			opacity: 1;
		}
		// background-image: url(images/brooklyn-map.png);
		&:after {
			background-image: url(images/pin-red@2x.png);
		}
	}
	&.oakland-map {
		[data-show-map="oakland"] & {
			opacity: 1;
		}
		// background-image: url(images/oakland-map.png);
		&:after {
			background-image: url(images/pin-blue@2x.png);
		}
	}

	.fixed & {
		position: fixed;
		top: 0;
	}
	.un-fixed & {
		position: absolute;
		top: 0;
	}
}

.office-address {
	padding: ($leading * 2) $size_container_padding 0;
	transition: all 400ms ease;
	@include media($screen-md) {
		float: left;
		width: 50%;
		.os-csstransforms & {
			position: absolute;
			top: 50%;
			left: 50%;
			padding-top: 0;
			@include transform(translateY(-50%) translateX(-75%));
		}
	}
}






