body {
	background-color: $light_gray;
	
	&::before {
		content: "default";
		display: none;
	}
	@include media($screen-sm) {
		&::before {
			content: "small";
		}	
	}
	@include media($screen-md) {
		&::before {
			content: "medium";
		}	
	}
	// @include media($screen-lg) {
	// 	&::before {
	// 		content: "large";
	// 	}	
	// }
	// @include media($screen-xl) {
	// 	&::before {
	// 		content: "xlarge";
	// 	}	
	// }
}