.site-footer {
	position: relative;
	padding-top: 6rem;
	padding-bottom: 5rem;

	a,
	li {
		padding: 5px 0;
		color: $medium_gray;

		@include media(1010px) {
			float: left;
			padding: 0;
			margin-right: 2%;

			&.copyright {
				color: $medium_gray;
			}
		}

		i {
			font-style: normal;
			vertical-align: -10px;
			font-size: 1.8em;
		}
	}

	a {
		&.subscribe-toggle.active,
		&:hover {
			color: $color_text_main;
		}
	}

}

.site-footer__list {
	height: 30px;
	margin: 0;

}
