.site-footer {
	position: relative;
	padding-top: 6rem;
	padding-bottom: 5rem;
	span, a {
		display: block;
		padding: 5px 0;
		color: $medium_gray;

		@include media(1010px) {
			display: inline-block;
			padding: 0;
			margin-right: 5%;
			&.social {
				margin-right: 1%;	
			}
		}

		i {
			font-style: normal;
			vertical-align: -10px;
			font-size: 1.8em;
		}
	}
	a {
		&:hover {
			color: $color_text_main;
		}
		&.facebook {
			margin-top: $leading;
		}
	}

	.inner-container {
		position: relative;
	}
}