.site-footer {
	position: relative;
	padding-top: 6rem;
	padding-bottom: 5rem;
}

.site-footer__list {
	@include clearfix;
	margin: 0;
	font-size: 14px;
	line-height: 1.6;


	li {
		padding: 5px 0;
		color: $medium_gray;

		@include media(1010px) {
			float: left;
			padding: 0;
			margin-right: 2%;

			&.copyright {
				color: $medium_gray;
			}
		}

		i {
			font-style: normal;
			vertical-align: -10px;
			font-size: 1.8em;
		}
	}

	a {
		color: #333;
		&.subscribe-toggle.active,
		&:hover {
			color: $color_text_main;
		}
	}
}
