#masthead {
	position: absolute;
    width: 100%;
    top: 30px;
    z-index: 1000;
    padding: 0 $size_container_padding;
    @include media($screen-md) {
    	top: 60px;
    }
    @include media($screen-lg) {
    	top: 100px;
    }
    @include media($screen-xl) {
    	padding: 0 ($size_container_padding * 2);
    }
}

.site-title {
	float: right;
	position: relative;
	width: 96px;
	height: 42px;
	@include media($screen-md) {
		width: 128px;
		height: 56px;
    }
}

.wordmark {
	display: block;
	position: absolute;
	top: 0;
	width: 96px;
	height: 42px;
	text-indent: -99999px;
	background-image: url(images/logo@2x.png);
	background-repeat: no-repeat;
	background-size: 96px 84px;
	
	&.dark {
		background-position: 0 0;
	}
	&.light {
		display: none;
		background-position: 0 -42px;
		@include media($screen-md) {
			background-position: 0 -56px;
		}
	}
	.single-case_study & {
		&.dark { display: none; }
		&.light { display: block; }
	}
	
	@include media($screen-md) {
		width: 128px;
		height: 56px;
		background-size: 128px 112px;
    }
}

.menu-toggle {
	position: absolute;
    top: 21px;
	width: 18px;
	height: 18px;

	&:before, &:after {
		content: "";
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		background: $color_text_main;
		transition: all 300ms ease;
		.light-theme & {
			background: white;
		}
	}
	&:before {
		top: 2px;
	}
	&:after {
		top: 12px;
	}
	&:hover {
		&:before, &:after, .center-line {
			background: tint($color_text_main, 30%);
		}
	}
	.main-menu-active & {
		.center-line {
			opacity: 0;
		}
		&:before {
			top: 7px;
			transform: rotate(45deg);
			background: white;
		}
		&:after {
			top: 7px;
			transform: rotate(-45deg);
			background: white;
		}
		&:hover {
			&:before, &:after, .center-line {
				background: $medium_gray;
			}
		}
	}

	.center-line {
		position: absolute;
		display: block;
		top: 50%;
		left: 0;
		width: 100%;
		height: 3px;
		margin-top: -2px;
		background: $color_text_main;
		transition: all 300ms ease;

		.light-theme & {
			background: white;
		}
	}
	&:hover {
		.center-line {
			.light-theme & {
				background: tint($color_text_main, 30%);
			}
		}
	}
}

.main-navigation {
	display: block;
	position: relative;

	.fixed & {
		position: fixed;
		top: 10px;
		@include media($screen-md) {
			top: 30px;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		&.sub-menu {
			display: none;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}
}

.main-menu {
	display: none;
	position: absolute;
    top: 60px;
    left: 0;
    font-size: 1.5rem;
    line-height: 1em;
    li {
    	transform: translateY(20px);
    }
    a {
    	color: white;
    	text-transform: lowercase;
    	&:hover {
    		color: tint($color_text_main, 30%)
    	}
    }
}

.main-menu-scrim {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
