.former-clients {
	padding-top: 8vh;
	background-color: $light_gray;
}

.home .page-title {
	@include media($screen-lg){
		font-size: 3.4rem;
	}
}

.home .page-subtitle {
	@include media($screen-md){
		width: 59%;
	    float: left;
	    margin-right: 4%;
	}
}
.home .ozy-video {
	max-width: 232px;
	@include media($screen-md){
		width: 36.5%;
		float: left;
	}
	a {
		display: block;
		position: relative;
	}
	img {
		display: block;
	}
	.play-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -16px 0 0 -16px;
	}
}

.ctas {
	margin-top: $leading * 2;
	@include media( $screen-md ) {
		margin-top: $leading * 4;
	}

	.inner-container {
		position: relative;
	}

	em {
		display: none;
		@include media($screen-md) {
			display: block;
			position: absolute;
			top: 1rem;
			left: -35px;
		}
	}

	a {
		display: block;
		margin: 0;
	}
}
