.former-clients {
	margin-top: 50vh;
}

.os-vertical-nav {
	/* lateral navigation */
	position: fixed;
	z-index: 800;
	right: $size_container_padding;
	top: 50%;
    bottom: auto;
    transform: translateY(-50%);
	display: none;
	@include media($screen-md) {
		display: block;
	}

	a {
		display: block;
		position: relative;
		height: 25px;
		width: 15px;
		.bubble {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -7px 0 0 -7px;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			border: 4px solid rgba($color_text_main, 0.2);
			border-radius: 50%;
			transition: all 300ms ease;
		}
		&:hover {
			.bubble {
				border-color: $color_text_main;
				transform: scale(1.2);
				border-width: 3px;
			}
		}
		&.active {
			.bubble {
				background: $color_text_main;
			}
		}
	}
}