.page-header {
	position: relative;
	padding: 100px 0;
	background-repeat: no-repeat;
	background-size: cover;
	@include media($screen-md) {
		padding: 170px 0;
	}
	@include media($screen-lg) {
		padding: 220px 0;
	}

	& > * {
		position: relative;
		z-index: 1;
		max-width: $content-max-width;
		margin-left: auto;
		margin-right: auto;
		padding: 0 $size_container_padding;
		box-sizing: content-box;
	}

	.single-case_study & {
		color: white;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(black, 0.4);
		}
	}

	& > * {
		@include media($screen-md) {
			width: 55vw;
		}
		@include media($screen-xl) {
			width: auto;
		}
	}

}

.page-nav {
	a {
		color: white;
		&:hover {
			color: tint($color_text_main, 70%);
		}
	}
}

.page-section {
	position: relative;
	overflow: hidden;
	@include clearfix;

	&.full-height {
		@include media($screen-md) {
			height: 100vh;
		}
	}

	&.contain-content {
		& > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & > p, & > ol, & > ul {
			max-width: $max-width * 0.666;
			margin-left: auto;
			margin-right: auto;
			padding: 0 $size_container_padding;
			box-sizing: content-box;
		}
	}

	blockquote {
		padding: ($leading * 2) 0;
		margin: ($leading * 2) 0 0;
		&[data-parallax-node] { margin-top: 0; }
		.city-of-oakland & {
			background: #003265;
			color: #376FFF;
		}
		.localdata & {
			background: $localdata_red;
			color: #FFEAC4;
		}
		.boston-public-schools & {
			background: $boston_dark_green;
			color: $boston_green;
		}
		p {
			font-size: rem(24);
			line-height: rem(30);
			font-weight: 700;
			max-width: $max-width * 0.666;
			margin: 0 auto;
			padding: 0 $size_container_padding;
			@include media($screen-lg) {
				font-size: rem(44);
				line-height: rem(46);
			}
		}
		small {
			font-size: rem(16);
			line-height: rem(24);
		}
	}
}

[data-parallax-node] {
	@include media($screen-md) {
		position: absolute;
		width: 100%;
	}
}








