@font-face {
    font-family: 'FutureAMedium';
    src: url('fonts/future_019-webfont.eot'); 
    src: url('fonts/future_019-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/future_019-webfont.woff') format('woff'),
         url('fonts/future_019-webfont.ttf') format('truetype'),
         url('fonts/future_019-webfont.svg#FutureAMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ArnhemPro';
  src: url('fonts/ArnhemPro-Blond.eot?#iefix') format('embedded-opentype'),  
       url('fonts/ArnhemPro-Blond.otf')  format('opentype'),
       url('fonts/ArnhemPro-Blond.woff') format('woff'), 
       url('fonts/ArnhemPro-Blond.ttf')  format('truetype'), 
       url('fonts/ArnhemPro-Blond.svg#ArnhemPro-Blond') format('svg');
  font-weight: 300;
  font-style: normal;
}

// @font-face {
//   font-family: 'ArnhemPro';
//   src: url('fonts/ArnhemPro-Bold.eot?#iefix') format('embedded-opentype'),  
//        url('fonts/ArnhemPro-Bold.otf')  format('opentype'),  
//        url('fonts/ArnhemPro-Bold.woff') format('woff'), 
//        url('fonts/ArnhemPro-Bold.ttf')  format('truetype'), 
//        url('fonts/ArnhemPro-Bold.svg#ArnhemPro-Bold') format('svg');
//   font-weight: 700;
//   font-style: normal;
// }


@font-face {
  font-family: 'ArnhemPro';
  src: url('fonts/ArnhemPro-BlondItalic.eot?#iefix') format('embedded-opentype'),  
       url('fonts/ArnhemPro-BlondItalic.otf')  format('opentype'),
       url('fonts/ArnhemPro-BlondItalic.woff') format('woff'), 
       url('fonts/ArnhemPro-BlondItalic.ttf')  format('truetype'), 
       url('fonts/ArnhemPro-BlondItalic.svg#ArnhemPro-BlondItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}


.future-A {
	font-family: $font_heading;
	-webkit-font-smoothing: antialiased;
    text-transform: lowercase;
}

.arnhem {
    font-family: $font_main;
    -webkit-font-smoothing: antialiased;
}