
/* Global
 * ------------------------------------------- */

*,
*:after,
*:before {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

::-moz-selection {
	/* Code for Firefox */
	// color: $color_selection_text;
	background: $color_background_selection;
}

::selection {
	// color: $color_selection_text;
	background: $color_background_selection;
}

/* Links
 * ------------------------------------------- */

a {
	color: $color_link;
	text-decoration: none;
	@include transition(all 300ms ease);

	&.no-transition {
		@include transition(none);
	}
	// &:not(.no-transition) {
	//   transition: color 250ms ease, background-color 250ms ease, opacity 250ms ease;
	// }

	&:active,
	&:focus,
	&:hover {
		color: $color_link_hover;
		outline: 0;
	}

	&:active,
	&:hover {
		opacity: 0.6;
	}
}

/* Based on Bootstrap 3.3.2
 * ------------------------------------------- */

table {
	background-color: $table_bg;
	margin: 0 0 1.5em;
}

caption {
	padding-top: $table-cell-padding;
	padding-bottom: $table-cell-padding;
	color: $color_text_muted;
	text-align: left;
}

th {
	text-align: left;
}

// Baseline styles

.table {
	width: 100%;
	max-width: 100%;
	// Headings
	> tfoot,
	 > thead,
	> tbody {
		> tr {
			> th {
				font-family: $font_heading;
			}
		}
	}
	// Cells
	> tfoot,
	 > thead,
	> tbody {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding;
				line-height: $line-height-base;
				vertical-align: top;
				border-top: 1px solid $table-border-color;
			}
		}
	}
	// Bottom align for column headings
	> thead > tr > th {
		vertical-align: bottom;
		border-bottom: 2px solid $table-border-color;
	}
	// Remove top border from thead by default
	> caption + thead,
	 > thead:first-child,
	> colgroup + thead {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}
	// Account for multiple tbody instances
	> tbody + tbody {
		border-top: 2px solid $table-border-color;
	}

	// Nesting
	.table {
		background-color: $table_bg_nested;
	}
}

// Condensed table w/ half padding

.table-condensed {
	> tfoot,
	 > thead,
	> tbody {
		> tr {
			> th,
			> td {
				padding: $table-condensed-cell-padding;
			}
		}
	}
}

// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
	border: 1px solid $table-border-color;

	> tfoot,
	 > thead,
	> tbody {
		> tr {
			> th,
			> td {
				border: 1px solid $table-border-color;
			}
		}
	}

	> thead > tr {
		> th,
		> td {
			border-bottom-width: 2px;
		}
	}
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
	> tbody > tr:nth-of-type(odd) {
		background-color: $table-bg-accent;
	}
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
	> tbody > tr:hover {
		background-color: $table-bg-hover;
	}
}

// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
	position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
	float: none;
	display: table-column;
}

table {
	td,
	th {
		&[class*="col-"] {
			position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
			float: none;
			display: table-cell;
		}
	}
}

// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
	overflow-x: auto;
	min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

	@media screen and (max-width: $screen-sm) {
		width: 100%;
		margin-bottom: 1em;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid $table-border-color;

		// Tighten up spacing
		> .table {
			margin-bottom: 0;

			// Ensure the content doesn't wrap
			> tfoot,
			 > thead,
			> tbody {
				> tr {
					> th,
					> td {
						white-space: nowrap;
					}
				}
			}
		}

		// Special overrides for the bordered tables
		> .table-bordered {
			border: 0;

			// Nuke the appropriate borders so that the parent can handle them
			> tfoot,
			 > thead,
			> tbody {
				> tr {
					> th:first-child,
					> td:first-child {
						border-left: 0;
					}

					> th:last-child,
					> td:last-child {
						border-right: 0;
					}
				}
			}

			// Only nuke the last row's bottom-border in `tbody` and `tfoot` since
			// chances are there will be only one `tr` in a `thead` and that would
			// remove the border altogether.
			> tbody,
			> tfoot {
				> tr:last-child {
					> th,
					> td {
						border-bottom: 0;
					}
				}
			}

		}
	}
}

//rough grid layout

.flex-blocks {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1rem;
	margin-left: -1rem;
}

.column {
	margin: 0 auto;
	flex-basis: 100%;
	padding: 1rem;
}

.column-span-1 {
	flex-basis: 1/12*100%;
}

.column-span-2 {
	flex-basis: 2/12*100%;
}

.column-span-3 {
	flex-basis: 3/12*100%;
}

.column-span-4 {
	flex-basis: 4/12*100%;
}

.column-span-5 {
	flex-basis: 5/12*100%;
}

.column-span-6 {
	flex-basis: 6/12*100%;
}

.column-span-7 {
	flex-basis: 7/12*100%;
}

.column-span-8 {
	flex-basis: 8/12*100%;
}

.column-span-9 {
	flex-basis: 9/12*100%;
}

.column-span-10 {
	flex-basis: 10/12*100%;
}

.column-span-11 {
	flex-basis: 11/12*100%;
}

/* Text meant only for screen readers.
 * ------------------------------------------------- */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:active,
	&:focus,
	&:hover {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: rem(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
}

.old-num {
	font-variant-numeric: oldstyle-nums;
}

.mini-caps {
	font-variant-caps: small-caps;
}

/* Clearings
 * ------------------------------------------------- */

.clearfix {
	@include clearfix;
}
