// Display
// ======================================= /
.show { display: block; }
.hide { display: none; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.hide-sm {
	@media (min-width: $screen-sm) {
		display: none !important;
	}
}
.hide-md {
	@media (min-width: $screen-md) {
		display: none !important;
	}
}
.hide-lg {
	@media (min-width: $screen-lg) {
		display: none !important;
	}
}
.hide-xl {
	@media (min-width: $screen-xl) {
		display: none !important;
	}
}
.show-xl, .show-sm, .show-md, .show-lg { display: none !important; }
.show-sm {
	@media (min-width: $screen-sm) {
		display: block !important;
	}
}
.show-md {
	@media (min-width: $screen-md) {
		display: block !important;
	}
}
.show-lg {
	@media (min-width: $screen-lg) {
		display: block !important;
	}
}
.show-xl {
	@media (min-width: $screen-xl) {
		display: block !important;
	}
}

// Layout
// ======================================= /
.outer-container {
	@include outer-container;
	padding: 0 $size_container_padding;
	&.bleed {
		padding-left: 0;
		padding-right: 0;
	}
}
.inner-container {
	max-width: $content-max-width;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.pull-right { float: right; }
.pull-left { float: left; }

.clearfix {
  @include clearfix;
}

// Lists
// ======================================= /
.list-unstyled {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

// Colors
// ======================================= /
.bg-default {
	background-color: $light_gray;
}
.bg-localdata {
	background-color: $local_data_orange;
	color: white;
}
.bg-boston-public-schools {
	background-color: $boston_blue;
	color: white;
}
.bg-city-of-oakland {
	background-color: $oakland_green;
	color: white;
}


// Style
// ======================================= /
a.no-decoration { text-decoration: none; }

[class*="rotate-"] {
	display: inline-block;
	&[class*="-c-45"] {
		transform: rotate(45deg);
	}
	&[class*="-cc-45"] {
		transform: rotate(-45deg);
	}
}

.text-color-link {
	color: $color_text_main;
	&:hover {
		color: $color_link;
	}
}
.white-link {
	color: white;
	&:hover {
		color: $color_link;
	}
}

.media-size  {
	position: fixed;
	bottom: 0;
	left: 0;
	background: rgba(white, 0.25);
	padding: 5px;
	color: #bbb;
	font-size: 12px;
	&:before {
		content: "default";
	}
	@include media($screen_sm) {
		&:before {
			content: "small";
		}
	}
	@include media($screen_md) {
		&:before {
			content: "medium";
		}
	}
	@include media($screen_lg) {
		&:before {
			content: "large";
		}
	}
	@include media($screen_xl) {
		&:before {
			content: "xlarge";
		}
	}
}
