
// Layout
// ============================================ /

// Clearfix
@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Typography
// ============================================ /

@mixin h1 {
	font-size: $h1_size;
	line-height: $h1_line_height;
}

@mixin h2 {
	font-size: $h2_size;
	line-height: $h2_line_height;
}

@mixin h3 {
	font-size: $h3_size;
	line-height: $h3_line_height;
}

@mixin h4 {
	font-size: $h4_size;
	line-height: $h4_line_height;
}

@mixin h5 {
	font-size: $h5_size;
	line-height: $h5_line_height;
}

@mixin h6 {
	font-size: $h6_size;
	line-height: $h6_line_height;
}
