//DOE animation pre-active
.fade-each-left > *{
	opacity: 0;
	transform: translate3d(-100%,0,0);
}

.fade-each-left > *{
	opacity: 1;
	transform: translate3d(0,0,0);
}


// BAM Animation
@include keyframes(cycle) {
	0% {
		opacity: 0;
		@include transform( translateX(-20px) );
	}
	4% {
		opacity: 0;
		@include transform( translateX(-20px) );
	}
	8% {
		opacity: 1;
		@include transform( translateX(0) );
	}
	54% {
		opacity: 1;
		@include transform( translateX(0) );
	}
	58% {
		opacity: 0;
		@include transform( translateX(20px) );
	}
	100% {
		opacity: 0;
	}
};


// Compass animation
@include keyframes(compass) {
	0% {
	}
	75% {
		@include transform( rotate(360deg) );
	}
	100% {
		@include transform( rotate(360deg) );
	}
}



// Clearfix
@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Buttons
@mixin button($bg-color: $color_background_button, $color: $color_text_button) {

	display: inline-block;
	border: 0;
	border-radius: 3px;
	background: $bg-color;
	box-shadow: none;
	color: $color;
	font-family: $font_heading;
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.3em 0.5em;
	text-shadow: none;
	text-align: center;
	text-transform: lowercase;
    font-size: rem(16);
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all $duration $easing;

	&:hover, &:focus {
		background: darken($bg-color, 15%);
		color: $color;
		opacity: 1;
	}

	&:focus {
		outline: none;
	}

	&[disabled] {
		background: lightgray;
		cursor: default;
	}
}


/*
 * Return a calculated span value for grid columns 
 *
 * $span: (int) grid columns to span
 * $columns: (int) total columns
 *
 * returns: a calc() value;
 */
 @function os-span( $span, $total-columns: $columns ) {
    
    $ratio: $span / $total-columns;
    @if ( $ratio > 1 ) {
        $ratio: 1;
    }
    $calc: calc( #{ $ratio * 100% } - #{ $gutter } );

    @return $calc;
};


// Grid row
// ------------------------------------- //
@mixin os-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
    min-width: 100%;
    
    &.is-nowrap {
        flex-wrap: nowrap;
    }
}

// Grid column
// ------------------------------------- //
@mixin os-column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: $gutter/2;
    margin-right: $gutter/2;
    max-width: calc( 100% - #{$gutter} );
}