
/* Typography
 * ------------------------------------------ */
 html {
 	font-size: 100%;
 }

body,
button,
input,
select,
textarea {
	color: $color_text_main;
	font-family: $font_main;
	line-height: $leading;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	background-color: $color_background_hr;
	border: 0;
	height: 1px;
	margin: 2em 0;
	width: 100%;
}

/* Headings
 * ------------------------------------------ */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: $leading;
	margin-top: $leading;
	margin-bottom: 0;
	font-weight: 300;
}
h1, .h1 {
	font-size: rem(32);
	line-height: rem(32);
	margin-top: $leading;
	@include media($screen-sm) {
		font-size: rem(48);
		line-height: rem(48);
	}
	@include media($screen-md) {
		font-size: rem(54);
		line-height: rem(54);
		margin-top: $leading * 2;
	}
	@include media($screen-lg) {
		font-size: rem(61);
		line-height: rem(61);
	}
	@include media($screen-xl) {
		font-size: rem(66);
		line-height: rem(66);
	}
}
h2, .h2 {
	font-size: rem(22);
	line-height: rem(30);
	margin-top: $leading;
	@include media($screen-md) {
		font-size: rem(32);
		line-height: rem(34);
		margin-top: $leading * 2;
	}
}
h3, .h3 {
	font-size: rem(20);
	line-height: rem(28);
	font-family: $font_main;
    @include media($screen-md) {
    	font-size: rem(22);
    	line-height: rem(30);
    }
}
h4, .h4 {
	font-size: rem(14);
	line-height: rem(22);
	font-family: $font_heading;
}
h5, .h5 {
	font-size: 1rem;
	line-height: $leading;
}
h6, .h6 {
	font-size: 1rem;
	line-height: $leading;
}

/* Copy
 * ------------------------------------------ */
p {
	line-height: $leading;
	margin-top: $leading * 2;
	margin-bottom: 0;
	font-size: rem(16);
	line-height: rem(24);
	@include media($screen-lg) {
		font-size: rem(18);
		line-height: rem(27);
	}
	&.colophon {
		font-size: rem(16);
		line-height: rem(24);
	}
}

ul, ol {
	margin: ($leading * 2) 0 0;
	line-height: $leading;
	font-size: rem(16);
	line-height: rem(24);
	@include media($screen-lg) {
		font-size: rem(18);
		line-height: rem(27);
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: normal;
}

dd {
	margin: 0 1.5em 1.5em;
}

b, strong {
	font-weight: 600;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	line-height: 1.5rem;
	margin: $leading 0;
	color: $color_blockquote;
	font-size: 1.5rem;

	p {
		margin: 0;
	}

	.quote:first-child {
		margin-left: -10px;
		@include media($screen-lg) {
			margin-left: -20px;
		}
	}
}

address {
	margin: $leading 0 0;
	font-style: normal;
}

pre {
	background: $color_background_pre;
	font-family: $font_pre;
	font-size: rem(1);
	line-height: $font_line_height_pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font_code;
	font-weight: normal;
	font-size: 0.9em;
	color: $color_code;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

small,
.small {
	font-size: 75%;
}

.v-align-super {
	vertical-align: super;
}

big,
.big {
	font-size: 125%;
}

.caps {
	text-transform: uppercase;
}
.no-style {
    font-style: normal;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

/* Hug the block above you */
.hug {
	margin-top: 0;
}

/* Create space */
.push-half {
	margin-top: $leading/2;
}
.push {
	margin-top: $leading;
}
.push-double {
	margin-top: $leading * 2;
}
.push-triple {
	margin-top: $leading * 3;
}
