.bps-wordmarks {
	img {
		display: block;
		@include transform( translateY(-30px) );
		opacity: 0;
		transition: all 500ms ease;
		&:nth-child(2) {
			transition-delay: 250ms;
		}
		&:nth-child(3) {
			transition-delay: 500ms;
		}
	}
	&.active {
		img {
			@include transform( translateY(0) );
			opacity: 1;
		}
	}
}
