.back-to-top {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 2rem;
    right: 3rem;
    transform: translate3d(0,5rem,0);
    transition: transform $duration $easing;

    .page-has-scrolled & {
        transform: translate3d(0,0,0);
    }
    
    @include media($screen-md) {
        display: block;
    }
}