button,
.button,
input[type="button"],
input[type="reset"] {
	@include button();
}

input[type="submit"] {
	border: 0;
	border-radius: 0;
	background: none;
	box-shadow: none;
	color: #FB8585;
	line-height: 1em;
	padding: 0;
	text-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 300ms ease;

	&:hover {
		color: darken(#FB8585, 15%);
	}

	&:focus {
		outline: none;
		color: darken(#FB8585, 15%);
	}

	&[disabled] {
		color: tint($medium_gray, 20%);
		cursor: default;
	}
}