$cfr_brown: #401B0C;
$cfr_limestone: #CCC5BA;
$cfr_nantucket_red: #DF674D;
$cfr_robins_egg: #8FD6ED;


.font_overlay {
    position: relative;
}

.sub_section_content {
    padding: 30px 0 50px;
}

#font_slide_controls {
	@include clearfix;

	.type_filters {
		float: left;
		margin-left: 30px;

		a {
			position: relative;
			text-decoration: none;
			display: block;
			&:hover,
			&.hidden {
				text-decoration: line-through;
			}
			&.hidden {
				&:before, &:after {
					display: block;
				}
			}

			&:before, &:after {
                content: "";
				display: none;
				position: absolute;
                top: 50%;
                left: -22px;
                margin-top: -1px;
                height: 2px;
                width: 18px;
			}
            &:before {
                @include transform(rotate(45deg));
            }
            &:after {
                @include transform(rotate(-45deg));
            }

			&.haarlemmer {
				color: $cfr_brown;
                &:before, &:after {
                    background-color: $cfr_brown;
                }
			}
			&.times {
				color: $cfr_robins_egg;
                &:before, &:after {
                    background-color: $cfr_robins_egg;
                }
			}
			&.georgia {
				color: $cfr_nantucket_red;
                &:before, &:after {
                    background-color: $cfr_nantucket_red;
                }
			}
			&.notes {
				border-top: 1px solid tint($cfr_brown, 90%);
				margin: 10px 0 0;
				padding: 5px 0 0;
				font-size: 1em;
				color: tint($cfr_brown, 60%);
                &:before, &:after {
                    background-color: tint($cfr_brown, 60%);
                }
			}
		}
	}
	.type_paging {
		float: right;
		margin-right: 30px;

		a {
			display: inline-block;
			text-decoration: none;
			padding: 0 5px;
			color: $cfr_limestone;
			&.active,
			&:hover {
				color: $cfr_brown;
			}

			&.icon {
				font-size: 16px;
				padding: 0 10px;
				color: $cfr_brown;
			}
		}
	}
}// font slide controls

#font_slides {

	.slick-list {
		padding: 30px 0;
	}

	.font_slide {
		position: relative;
	}

	.slide_inner {
		position: relative;
		max-width: 280px;
		margin: 0 auto;
	}

	.letter_wrap {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.info_dot {
		position: absolute;
		background: url(images/cfr/CFR-Dot.png) no-repeat center center;
		width: 65px;
		height: 65px;
        @include hidpi() {
            background-image: url(images/cfr/CFR-Dot-@2x.png);
        }
		&.hidden {
			display: none;
		}
		&.line {
			background: url(images/cfr/info_line.png) no-repeat center center;
			width: 29px;
			height: 213px;
            @include hidpi() {
                background-image: url(images/cfr/info_line@2x.png);
            }
		}

		.note {
			position: absolute;
			width: 120px;
			color: tint($cfr_brown, 60%);
			line-height: 1.1em;
            margin-top: 0;
		}
	}

	&[data-current-fonts="times"],
	&[data-current-fonts="georgia"],
	&[data-current-fonts="times_georgia"] {
		.info_dot { display: none; }
	}

	.letter_a {
		.slide_inner { padding-top: 290px; }
		.letter_wrap {
            background: url(images/cfr/CFR-a.png) no-repeat left top;
            @include hidpi() {
                background-image: url(images/cfr/CFR-a-@2x.png);
            }
        }

		.info_dot_1 {
			top: 10px;
			left: 140px;
			.note { top: 10px; left: 80px; }
		}
		.info_dot_2 {
			top: 100px;
			left: 110px;
			.note { left: 110px; top: 25px; }
		}
		.info_dot_3 {
			top: 200px;
			left: 205px;
			.note { left: 17px; top: -37px; }
		}
	}

	.letter_e {
		.slide_inner { padding-top: 290px; }
		.letter_wrap {
            background: url(images/cfr/CFR-e.png) no-repeat left top;
            @include hidpi() {
                background-image: url(images/cfr/CFR-e-@2x.png);
            }
        }

		.info_dot_1 {
			top: 80px;
			left: 195px;
			.note { left: 75px; }
		}
		.info_dot_2 {
			top: 185px;
			left: 205px;
			.note { top: 75px; }
		}
	}

	.letter_g {
		.slide_inner { padding-top: 420px; }
		.letter_wrap {
            background: url(images/cfr/CFR-g.png) no-repeat left top;
            @include hidpi() {
                background-image: url(images/cfr/CFR-g-@2x.png);
            }
        }

		.info_dot_1 {
			top: 4px;
			left: 216px;
			.note {
				left: 30px;
				top: 75px;
			}
		}
		.info_dot_2 {
			top: 3px;
			left: 115px;
			.note {
				left: 105px;
				top: 170px;
			}
		}
		.info_dot_3 {
			top: 350px;
			left: 145px;
			.note {
				left: 70px;
				top: 40px;
			}
		}

	}

	.letter_j {
		.slide_inner { padding-top: 495px; }
		.letter_wrap {
            background: url(images/cfr/CFR-j.png) no-repeat left top;
            @include hidpi() {
                background-image: url(images/cfr/CFR-j-@2x.png);
            }
        }

		.info_dot_1 {
			top: 115px;
			left: 76px;
			.note { left: 115px; }
		}
		.info_dot_2 {
			top: 438px;
			left: 67px;
			.note {
				left: 85px;
				top: 10px;
			}
		}

	}

}
