.flex-blocks {
    display: flex;
    flex-wrap: wrap;
}

.column {
    margin: 0 auto;
    flex-basis: 100%;
    padding: 1rem;
}

.column-3 {
    flex-basis: 25%;
}

.block-image {
    min-width: 200px;
}

.block-caption {
    p {
        margin: 0;
    }
}

.cycle-images {
    display: block;
}
