.client-list {
	@include clearfix;
}
.client {	
	@include clearfix;
    box-sizing: border-box;
    float: left;

	&.layout-half {
		width: 50%;
		&.left {
			padding-right: 20px;
			clear: left;
		}
		&.right {
			padding-left: 20px;
		}
	}

	&.layout-image-left,
	&.layout-image-right {
		width: 100%;
		clear: both;
		img {
			display: block;
		}
		p {
			width: 50%;
		}
	}

	&.client.layout-image-right {
		p {
			float: left;
			padding-right: 20px;
		}
		img {
			float: right;
			margin-right: -22.666%;
			padding-left: 20px;
		}
	}
	&.client.layout-image-left {
		p {
			float: right;
			padding-left: 20px;
		}
		img {
			float: left;
			margin-left: -22.666%;
			padding-right: 20px;
		}
	}
}