
/* Forms 
 * ------------------------------------------- */

form {
  margin: $leading 0 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
	display: inline;
	width: auto;
	color: $color_text_input;
	background: none;
	font-family: $font_heading;
	line-height: 1em;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	padding: 0;
	transition: all 300ms ease;


	&.block {
		display: block;
		width: 100%;
	}

	&:focus {
		color: $color_text_input_focus;
		background-color: white;
		outline: 0;
	}

	&::-webkit-input-placeholder {
		color: tint($medium_gray, 20%);
	}
	&::-moz-placeholder {
		color: tint($medium_gray, 20%);
	}
	&:-moz-placeholder {   /* Older versions of Firefox */
		color: tint($medium_gray, 20%);
	}
	&:-ms-input-placeholder { 
		color: tint($medium_gray, 20%);
	}
}

textarea {
	width: 100%;
	resize: none;
    min-height: 100px;
    line-height: 1.25em;
}

label {
	display: inline;
	width: auto;
	&.block {
		display: block;
		width: 100%;
		padding-bottom: 0.25em;
	}
}

.contact-form {
	input {
		line-height: 1.4em;
	}

	.form-fields {
		display: none;
	}

	.input-row {
		display: none;
	}
}

.form-loader {
	@include transform( translateY(9px) );
	@include transition( all 300ms ease );
	margin-right: 10px;
	margin-left: -45px;
	opacity: 0;
	width: 32px;
	@include media($screen-md) {
		@include transform( translateY(12px) );
		width: 44px;
		margin-left: -57px;
	}
	.loading & {
		opacity: 1;
		margin-left: 0px;
	}
}

.subject-select {
	a {
		color: $color_text_main;
		&:hover {
			color: tint($color_text_main, 20%);
		}
	}
	&.has-selection {
		a {
			color: tint($medium_gray, 20%);
			&:hover {
				color: $color_text_main;
			}
			&.selected {
				color: $color_text_main;
			}
		}
	}
}

.form-nav {
	span {
		display: inline-block;
		width: 10px;
		height: 10px;
		border: 1px solid $medium_gray;
		border-radius: 50%;
		margin-right: 5px;
		&.active {
			background-color: $medium_gray;
		}
		&.complete {
			background-color: #FB8585;
			border-color: #FB8585;
		}
	}
}

.message {
	display: none;
}

.error {
	color: #FB8585;
}










