
/* Media
 * -----------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
 	margin: ($leading*3) 0 0;
 	
 	&.alignnone {
 		img {
 			display: block;
 			width: 100%;
 			height: auto;
 		}
 	}
 	&.aligncenter {
 		img {
 			display: block;
 			width: 100%;
 			@include outer-container;
 		}
 	}
}
figcaption {
	font-style: italic;
	max-width: $content-max-width;
	margin: ($leading/2) auto 0;
	padding: 0 $size_container_padding;
	.city-of-oakland & {
		color: #376FFF;
	}
}


/* Responsive Media
 * -----------------------------------------------------------*/
[class*="responsive-media-"] {
	position: relative;
	height: 0;
	overflow: hidden;

	&[class*="16x9"] {
		padding-top: 56.25%;
	}

	&[class*="4x3"] {
		padding-top: 75%;
	}

	iframe, video, object, .responsive-media-content {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}



