
/* Media
 * -----------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
 	margin: ($leading*3) 0 0;

 	&.alignnone {
 		img {
 			display: block;
 			width: 100%;
 			height: auto;
 		}
 	}
 	&.aligncenter {
 		img {
 			display: block;
 			max-width: 100%;
 			margin: 0 auto;
 		}
 	}
}
figcaption {
	font-style: italic;
	font-size: 1rem;
	// max-width: $content-max-width;
	margin-top: ($leading/2);
	text-align: center;
	@include media($screen-md) {
		text-align: left;
	}

	.os-slideshow & {
		opacity: 0;
		transition: opacity 500ms ease;
	}
	.os-slideshow.width-auto & {
		text-align: center;
	}
	.os-slideshow .slick-active & {
		opacity: 1;
	}
	.city-of-oakland & {
		color: $oakland_blue;
	}
	.claremont-graduate-university & {
		color: $claremont_red;
	}
	.localdata & {
		color: $localdata_red;
	}
	.boston-public-schools & {
		color: $boston_green;
	}
}


/* Browser Window
 * -----------------------------------------------------------*/
.browser-bar {
    height: 15px;
    background: #D4D4D4;
    border-top-left-radius: 2px;
	border-top-right-radius: 2px;
    color: #FFF;
    font-size: 16px;
	line-height: 16px;
	padding-left: 1%;
	height: 15px;
    @include media($screen-sm) {
		font-size: 26px;
		line-height: 26px;
		height: 26px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	@include media($screen-md) {
		font-size: 30px;
		height: 30px;
		line-height: 30px;
	}

    &:before {
    	content: "•••";
    	display: block;
    }
}

.browser-window {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 75%;
	background-color: gray;
}

.browser-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
	@include media($screen-md) {
		overflow-y: scroll;
	}

    img {
        width: 100%;
    }
}


/* Responsive Media
 * -----------------------------------------------------------*/
[class*="responsive-media-"] {
	position: relative;
	height: 0;
	overflow: hidden;

	&[class*="16x9"] {
		padding-top: 56.25%;
	}

	&[class*="4x3"] {
		padding-top: 75%;
	}

	&[class*="3x1"] {
		padding-top: 33.333%;
	}

	&[class*="3x2"] {
		padding-top: 66.666%;
	}

	iframe, video, object, img, .responsive-media-content {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}
