/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .os-slideshow & {
        overflow: visible;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    transition: opacity 500ms ease;
    [dir="rtl"] & {
        float: right;
    }
    &:focus {
        outline: none;
    }

    .os-slideshow & {
        opacity: 0.2;
        &.slick-active {
            opacity: 1;
        }
    }

    .os-slideshow.center-mode & {
        padding-left: 10px;
        padding-right: 10px;
        @include media($screen-md) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media($screen-lg) {
            padding-left: 50px;
            padding-right: 50px;
        }

        img {
            margin: 0 auto;
        }
    }

    img {
        display: block;
    }
    &.shadow {
        img {
            box-shadow: 0 6px 10px -2px rgba(black, 0.2);
        }
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 1rem;
        &.slick-active {
            button {
                background: $color_text_main;
            }
        }
    }
    button {
        text-indent: -99999px;
        padding: 0;
        border: 2px solid $color_text_main;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: none;
        &:hover {
            background: $color_text_main;
        }
    }
    
    .localdata & {
        li.slick-active button {
            background: $localdata_red;
        }
        button {
            border-color: $localdata_red;
            &:hover {
                background: $localdata_red;
            }
        }
    }
    .city-of-oakland & {
        li.slick-active button {
            background: $oakland_blue;
        }
        button {
            border-color: $oakland_blue;
            &:hover {
                background: $oakland_blue;
            }
        }
    }
    .boston-public-schools & {
        li.slick-active button {
            background: $boston_green;
        }
        button {
            border-color: $boston_green;
            &:hover {
                background: $boston_dark_green;
            }
        }
    }
}

.os-slideshow-container {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.os-slideshow {
    margin: 0;
}

.os-slide-nav {
    @include clearfix;
    @include media($screen-md) {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2em;
        width: 100%;
    }
    a {
        display: block;
        padding: 1rem;
        font-size: 2rem;
        line-height: 2rem;
        width: 4rem;
        text-align: center;
        color: $color_text_main;
        &:hover {
            color: darken($color_text_main, 15%);
        }
    }
    .next {
        float: right;
        @include media($screen-lg) {
            margin-right: 6.5%;
        }
    }
    .prev {
        float: left;
        @include media($screen-lg) {
            margin-left: 6.5%;   
        }
    }
    .text-arrow {
        .os-csstransforms & {
            display: none;
        }
        .localdata & {
            color: $localdata_red;
            &:hover {
                color: darken($localdata_red, 15%);
            }
        }
        .city-of-oakland & {
            color: $oakland_blue;
            &:hover {
                color: darken($oakland_blue, 15%);
            }
        }
        .boston-public-schools & {
            color: $boston_green;
            &:hover {
                color: $boston_dark_green;
            }
        }
    }
}

.graphic-arrow {
    display: none;
    position: relative;
    width: 14px;
    height: 14px;
    .os-csstransforms & {
        display: block;
    }
    &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 18px;
        height: 4px;
        background-color: $color_text_main;
        @include transition(all 300ms ease);
        .localdata & { background-color: $localdata_red; }
        .city-of-oakland & { background-color: $oakland_blue; }
        .boston-public-schools & { background-color: $boston_green; }
        .localdata .os-slide-nav a:hover & { background-color: darken($localdata_red, 15%); }
        .city-of-oakland .os-slide-nav a:hover & { background-color: darken($oakland_blue, 15%); }
        .boston-public-schools .os-slide-nav a:hover & { background-color: $boston_dark_green; }
    }
    &:before {
        top: 0;
        .next & { @include transform(rotate(45deg)); }
        .prev & { @include transform(rotate(-45deg)); }
    }
    &:after {
        bottom: 0;
        .next & { @include transform(rotate(-45deg)); }
        .prev & { @include transform(rotate(45deg)); }
    }
}












