/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    &:focus {
        outline: none;
    }

    .os-slideshow.center-mode & {
        padding-left: 10px;
        padding-right: 10px;
        @include media($screen-md) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media($screen-lg) {
            padding-left: 50px;
            padding-right: 50px;
        }

        img {
            box-shadow: 0 6px 10px -2px rgba(black, 0.2);
            margin: 0 auto;
        }
    }

    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 1rem;
        &.slick-active {
            button {
                background: $localdata_red;
            }
        }
    }
    button {
        text-indent: -99999px;
        padding: 0;
        border: 2px solid $localdata_red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: none;
        &:hover {
            background: $localdata_red;
        }
    }
}

.os-slideshow-container {
    position: relative;
}

.os-slideshow {
    margin: 0;
}

.os-slide-nav {
    @include clearfix;
    @include media($screen-md) {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2em;
        width: 100%;
    }
    a {
        display: block;
        padding: 1rem;
        font-size: 2rem;
        line-height: 2rem;
        width: 4rem;
        text-align: center;
        color: $localdata_red;
    }
    .next {
        float: right;
    }
    .prev {
        float: left;
    }
}












