.tile {
	@include clearfix;
	@include media($screen-md) {
		float: left;
	}

	.tile-image {
		&.associated-press {
			@include media($screen-md) {
				margin-top: 120px;
			}
		}
		&.bam img {
			@include media($screen-md) {
				margin-top: 110px;
			}
		}
		&.worldstrides {
			@include media($screen-md) {
				margin-top: 90px;
			}
		}
		img {
			display: block;
			margin-bottom: $leading / 2;
		}
	}

	.tile-title {
		@include media($screen-md) {
			margin-top: 0;
		}
	}

	// fix to make text line up.
	.cmc-logo {
		margin: 2.25rem 0;
	}

	.tile-content {
		&.bio-content {
			p { margin-top: $leading; }
		}
		@include media($screen-md) {
			margin-top: 0;
		}
	}

	&.layout-image-left {
		.tile-image {
			@include media($screen-md) {
				@include span-columns(6);
			}
		}
		.tile-content {
			@include media($screen-md) {
				@include span-columns(4);
			}
		}
		&.right-to-left {
			@include direction-context( right-to-left ){
				.tile-content {
					@include media($screen-md) {
						@include span-columns(4);
						@include shift(2);
					}
				}
				.tile-image {
					@include media($screen-md) {
						@include span-columns(6);
					}
				}
			}	
		}
		
	}
	&.layout-image-right {
		@include direction-context(right-to-left) {
			.tile-image {
				@include media($screen-md) {
					@include span-columns(6);
				}
			}
		}
		.tile-content {
			@include media($screen-md) {
				@include span-columns(4);
				@include shift(2);
			}
		}
	}
	&.layout-half.left {
		@include media($screen-md) {
			@include span-columns(4);
			@include shift(2);
			clear: left;
		}
	}
	&.layout-half.right {
		@include media($screen-md) {
			@include span-columns(4);
			@include omega();
		}
	}
}