.tile {
	@include clearfix;
	@include media($screen-md) {
		float: left;
	}

	.tile-image {
		display: block
	}

	.tile-title {
		@include media($screen-md) {
			margin-top: 0;
		}
	}

	.tile-content {
		&.bio-content {
			p { margin-top: $leading; }
		}
		@include media($screen-md) {
			margin-top: 0;
		}
	}

	&.layout-image-left {
		.tile-image {
			@include media($screen-md) {
				@include span-columns(6);
			}
		}
		.tile-content {
			@include media($screen-md) {
				@include span-columns(4);
			}
		}
	}
	&.layout-image-right {
		@include direction-context(right-to-left) {
			.tile-image {
				@include media($screen-md) {
					@include span-columns(6);
				}
			}
		}
		.tile-content {
			@include media($screen-md) {
				@include span-columns(4);
				@include shift(2);
			}
		}
	}
	&.layout-half.left {
		@include media($screen-md) {
			@include span-columns(4);
			@include shift(2);
			clear: left;
		}
	}
	&.layout-half.right {
		@include media($screen-md) {
			@include span-columns(4);
			@include omega();
		}
	}
}