.tile {
	@include clearfix;

	
	p {
		margin-top: $leading;
	}
	.tile-image {
		display: block
	}

	.tile-title {
		@include media($screen-md) {
			margin-top: 0;
		}
	}

	&.layout-image-left {
		.tile-image {
			@include media($screen-md) {
				@include span-columns(6);
			}
		}
		.tile-content {
			@include media($screen-md) {
				@include span-columns(5);
			}
			@include media($screen-lg) {
				@include span-columns(4);
			}
		}
	}
	&.layout-image-right {
		@include direction-context(right-to-left) {
			.tile-image {
				@include media($screen-md) {
					@include span-columns(6);
				}
			}
		}
		.tile-content {
			@include media($screen-md) {
				@include span-columns(5);
				@include shift(1);
			}
			@include media($screen-lg) {
				@include span-columns(4);
			}
		}
	}
}